.phone, .error{
  padding: 18px;
  border-radius: 10px;
  border: 1px solid var(--text-main-color-25);
  max-width: 520px;
  outline: none;
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;

  &::placeholder {
    color: var(--text-main-color-50);
    opacity: 1;
  }

}
  .phone {
    color: var(--text-main-color-50);
  }

.error{
  color: red;
}

