.button {
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  transition: filter 0.3s ease;
  &:active {
    filter: brightness(0.9);
  }
  &.disabled {
    cursor: default;
    opacity: 0.6;

    &:active {
      filter: none;
    }
  }
  span{
    display: flex;
    align-items: center;
    justify-content: center;

  }
}
