@use "../../mixins" as mixins;

.giftsContainer {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 20px;
  @media (max-width: 810px) {
    padding: 0 12px; // ✅ Зазор по 12px
  }
  .imageContainer {
    height: 300px;
    background-color: var(--background-orange-color);
    max-width: 1880px;
  //  margin: 0 20px;
    margin: 0 auto;
    border-radius: 10px;
    color: var(--text-light-color);
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 0 20px;
    @media (max-width: 1200px) {
      width: 100%;
    }
    @media (max-width: 810px) {
      align-items: flex-start;
      padding-top: 30px;
      width: 100%;
      height: 390px;
     // margin: 0 12px;

    }

    .imageTitleContainer {
      max-width: 1180px;
      width: 100%;

      @media (max-width: 1200px) {
        margin-left: 4px;
      }

      .imageTitle {

        @include mixins.mainHeader;
      }

      .imageLabel {
        @include mixins.bodyText;
      }
    }
  }

}