@use "../../mixins" as mixins;

.giftsContainer {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 20px 156px;
  @media (max-width: 810px) {
    padding: 0 12px 96px;
  }

  .giftsContent {
    max-width: 1180px;
    margin: 0 auto;

    .article {
      max-width: 1180px;
      margin-bottom: 56px;
      @media (max-width: 810px) {
        margin-bottom: 48px;
      }

      .infoTitle {
        font-size: 18px;
        line-height: 1.5;
        margin-bottom: 24px;
        @media (max-width: 810px) {
          font-size: 14px;
          margin-bottom: 20px;
        }
      }

      .columns {
        display: flex;
        column-gap: 76px;

        @media (max-width: 1200px) {
          column-gap: 36px;

        }
        @media (max-width: 810px) {
          flex-direction: column;
        }

        .column {
          flex: 1;
          @include mixins.bodyTextSmall;

          span {
            display: block;
            margin-bottom: 24px;
            @media (max-width: 810px) {
              margin-bottom: 20px;
            }
          }
        }
      }
    }

    .textInfo {
      background-color: var(--background-grey-color);
      margin: 112px auto 156px;
      max-width: 1180px;
      border-radius: 10px;
      padding: 65px;
      box-sizing: border-box;
      @media (max-width: 1240px) {
        padding: 48px 24px;
        margin: 96px 0;
      }
      @media (max-width: 810px) {
        padding: 48px 14px;
      }
    }

    .navigation {
      h2 {
        margin-bottom: 16px;
        @include mixins.headingLarge;
        @media (max-width: 810px) {
          margin-bottom: 20px;
        }
      }
    }
  }

}