.dropdown {
  position: relative;
}

.toggle {
  background-color: var(--background-grey-color);
  border: 1px solid var(--text-grey-color);
  border-radius: 25px;
  padding: 6px 16px;
  font-size: 16px;
  font-weight: 500;
  color: var(--text-grey-color);
  display: flex;
  align-items: center;
  gap: 14px;
  cursor: pointer;
  width: 154px;
  height: 48px;
  justify-content: center;
  font-family: "Manrope", sans-serif;
  @media (max-width: 1200px) {
    font-size: 14px;
    width: 128px;
    height: 40px;
  }

  svg {
    transition: transform 0.3s ease;
  }
}

.toggle.open svg {
  transform: rotate(180deg);
}

.menu {
  position: absolute;
  top: 100%;
  left: 0;
  background: var(--text-light-color);
  border: 1px solid var(--text-grey-color);
  border-radius: 24px;
  margin-top: 6px;
  z-index: 10;
  width: 154px;
  height: 48px;
  display: flex;
  align-items: center;
  color: var(--text-grey-color);
  @media (max-width: 1200px) {
    font-size: 14px;
    width: 128px;
    height: 40px;
  }

  button {
    padding: 8px 16px;
    width: 100%;
    background: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    color: var(--text-grey-color);
    justify-content: center;
    font-family: "Manrope", sans-serif;
    @media (max-width: 1200px) {
      font-size: 14px;
      width: 128px;
      height: 40px;
    }
  }
}
