@use "../../mixins" as mixins;

.doorsContainer {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 20px 156px;
  position: relative;

  @media (max-width: 810px) {
    padding: 0 12px 96px;
  }
  .socialButtons{
    position: absolute;
    top: 375px;
    right: 20px;
    @media (max-width: 1200px) {
      display: none;
    }
  }
.doorsContent{
  max-width: 1180px;
  margin: 0 auto;

}

}