@use "../../mixins" as mixins;

.doorsContainer {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 20px 156px;

  @media (max-width: 810px) {
    padding: 0 12px 96px;
  }
}