@use "../../mixins" as mixins;

.doorsContainer {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 20px 156px;
  position: relative;

  @media (max-width: 810px) {
    padding: 0 12px 96px;
  }

  .socialButtons {
    position: fixed;
    top: 175px;
    right: 20px;
    z-index: 200;
    @media (max-width: 1200px) {
      display: none;
    }
  }

  .doorsContent {
    max-width: 1180px;
    margin: 0 auto;

  }

  .article {
    max-width: 1180px;
    margin: 0 auto;

    .articleTitle {
      @include mixins.headingLarge;
    }

    .articleLabel {
      display: block;
      margin-bottom: 48px;
      @include mixins.bodyTextSmall;
    }
    .gallery{
      margin-bottom: 48px;
    }
    .columns{
      display: flex;
      gap: 76px;
      margin-bottom: 48px;
      @media (max-width: 810px) {
        flex-direction: column;
        gap: 20px;
      }
      .column{
        flex: 1;
        .columnTitle{
          color: var(--text-grey-color);
          margin-bottom: 20px;
          margin-top: 20px;
          @include mixins.bodyTextSmall;
        }
        .columnText, .columnTextLast {
          display: block;
          color: var(--text-grey-color);
          @include mixins.bodyTextSmall;
        }
        .columnTextLast{
          margin-top: 20px;
        }

      }
    }
    .checkColumns{
      display: flex;
      gap: 76px;
      margin-bottom: 48px;
      @media (max-width: 810px) {
        flex-direction: column;
        gap: 0;
        margin-bottom: 28px;
      }
      .checklist{
        flex: 1;
        list-style: none;
        padding: 0;
        margin-top: 24px;
        margin-bottom: 0;

        li {
          position: relative;
          padding-left: 34px;
          margin-bottom: 28px;
          color: var(--text-main-color);
          @include mixins.bodyTextSmall;

          &::before {
            content: '✓';
            position: absolute;
            left: 0;
            top: 0;
            color: var(--text-grey-color);
            font-size: 18px;
            line-height: 1.5;
          }
          &:nth-child(3){
            margin-bottom: 0;
          }
          @media (max-width: 810px) {
            margin-bottom: 20px;
          }
        }
      }
    }
    .description{
      @include mixins.bodyTextSmall;
    }
  }
}