%footer-column {
  color: var(--text-grey-color);

  h3 {
    font-size: 18px;
    margin: 0 0 10px;
    line-height: 1.5;
  }

  .navigation {
    display: flex;
    flex-direction: column;
    gap: 6px;

    .items {
      all: unset;
      cursor: pointer;
      line-height: 1.5;
      font-size: 16px;
      font-weight: 300;
      @media (max-width: 1200px) {
        font-size: 14px;
      }
    }
  }
}

.footerBottom {
  height: 480px;
  background-color: var(--background-grey-color);
  display: grid;
  grid-template-columns: 64px calc(48% - 64px) 20% 20% 1fr 64px;
  grid-template-rows: 63px 48px 31px 74px 36px 1fr 74px;

  @media (max-width: 1200px) {
    height: 770px;
    grid-template-columns: 1fr 210px 210px 1fr;
    grid-template-rows: 63px 48px 42px 64px 36px 201px 36px 48px 97px 36px 1fr 30px;

  }
  @media (max-width: 525px) {
    grid-template-columns: 32px minmax(156px, 210px) minmax(142px, 210px) 32px;
  }

  .logo {
    grid-column: 2;
    grid-row: 2;
    @media (max-width: 1200px) {
      grid-column: 2/span 2;
      grid-row: 2;
    }
  }

  .address {
    grid-column: 2;
    grid-row: 4;
    color: var(--text-grey-color);
    @media (max-width: 1200px) {
      grid-column: 2;
      grid-row: 4;
      align-self: flex-end;
      font-size: 14px;
    }

    .text {
      margin: 0;
      font-size: 16px;
      font-weight: 400;
      @media (max-width: 1200px) {
        font-size: 14px;
      }
    }

    .time {
      margin: 0;
      font-size: 14px;
      font-weight: 300;
      @media (max-width: 1200px) {
        font-size: 12px;
      }
    }
  }

  .whatsapp {
    grid-column: 2;
    grid-row: 5;
    display: flex;
    flex-direction: row;
    gap: 4px;
    @media (max-width: 1200px) {
      grid-column: 3;
      grid-row: 4;
      flex-direction: column;
      align-self: flex-start;
      gap: 0;
    }
    >a {
      display: flex;
      flex-direction: row;
      color: var(--text-grey-color);
      @media (max-width: 1200px) {
        flex-direction: column;
      }
      .number {
        line-height: 1.5;
        font-size: 16px;
        font-weight: 300;
        @media (max-width: 1200px) {
          margin: 0;
          font-size: 14px;
        }
      }
    }
  }

  .copyright {
    grid-column: 2;
    grid-row: 6;
    align-self: flex-end;
    line-height: 1.5;
    font-size: 14px;
    font-weight: 300;
    @media (max-width: 1200px) {
      grid-column: 2 / span 2;
      grid-row: 11;
      align-self: end;
      justify-self: center;
      display: flex;
      gap: 4px;
      flex-direction: column;
    }

    p {
      @media (max-width: 1200px) {
        margin: 0;
      }
    }
  }

  .order {
    @extend %footer-column;
    grid-column: 3;
    grid-row: 2/ span 5;
    @media (max-width: 1200px) {
      grid-column: 2;
      grid-row: 6;
    }
  }

  .helpful {
    @extend %footer-column;
    grid-column: 4;
    grid-row: 2/ span 5;
    @media (max-width: 1200px) {
      grid-column: 3;
      grid-row: 6;
    }
  }

  .social {
    grid-column: 3;
    grid-row: 6;
    align-self: flex-end;
    @media (max-width: 1200px) {
      grid-column: 2 / span 2;
      grid-row: 8;
    }
  }

  .select {
    grid-column: 4;
    grid-row: 6;
    align-self: flex-end;
    justify-self: flex-end;
    @media (max-width: 1200px) {
      grid-column: 2 / span 2;
      grid-row: 9;
      align-self: end;
      justify-self: center;
    }
  }

}