.switcher {
  font-size: 16px;
  font-weight: 600;
  display: flex;
  gap: 4px;
  cursor: pointer;
  line-height: 1.25;

  span {
    color: var(--text-main-color);
    user-select: none;

    &.active {
      text-decoration: underline;
    }
  }
}
