.circleButtons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 56px;

  a {
    button {
      &:hover {
        transform: translateY(-2px);
      }

      &::after {
        content: '';
        position: absolute;
        border-radius: 50%;
        width: 100%;
        height: 100%;
        background-color: var(--button-blue-color);
        opacity: 0;
        transform: scale(0.5);
        transition: transform 0.4s ease, opacity 0.4s ease;
        z-index: 0;
      }

      &:active::after {
        transform: scale(1.5);
        opacity: 0.25;
      }

      svg {
        position: relative;
        z-index: 1;
      }
    }
  }

  .whatsapp {
    button {
      &::after {
        background-color: var(--button-green-color);
      }

      svg {
        margin-left: 2px;
        margin-top: 2px;
      }
    }
  }
}