.button {
  width: 100%;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: none;
  border-radius: 10px;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 14px;

  &:active {
    filter: brightness(0.9);
  }

  @media (min-width: 810px) {
    font-size: 16px;
  }

  &.yellow {
    background-color: var(--button-main-color);
    color: var(--text-main-color);
  }
  &.white {
    background-color: var(--text-light-color);
    color: var(--text-main-color);
    border: 1px solid var(--background-circle-button-color);
    flex-flow: row-reverse;
  }

  &.blue {
    background-color: var(--button-blue-color);
    color: var(--text-light-color);
  }

  &.green {
    background-color: var(--button-green-color);
    color: var(--text-light-color);
  }

  &.black {
    background-color: var(--text-main-color);
    color: var(--text-light-color);
  }

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .label {
    display: flex;
    align-items: center;
  }
}



