@import "../../mixins";

.termsContainer {
  width: 100%;
  height: auto;

  .titleContainer {
    height: 184px;
    background-color: var(--background-grey-color);
    margin: 0 20px 58px 20px;
    display: flex;
    justify-content: left;
    align-items: center;
    border-radius: 10px;

    @media (max-width: 810px) {
      height: 196px;
      margin: 0 12px 24px 12px;
    }

    .mainHeader {
      @include mainHeader;
      width: 1180px;
      margin: 0 auto;
      vertical-align: center;
      @media (max-width: 1300px) {
        width: 95%;
      }
    }

  }

  .termsContent {
    max-width: 1180px;
    margin: 0 auto;
    @media (max-width: 1200px) {
      max-width: 100%;
      margin: 0 20px;
    }
    @media (max-width: 810px) {
      margin: 0 12px;
    }

    .termsTitle {
      font-size: 36px;
      line-height: 1.5;
      letter-spacing: 0;
      max-width: 568px;
      margin: 48px 0;
      @media (max-width: 1200px) {
        font-size: 32px;
        text-align: center;
        max-width: 100%;
      }
      @media (max-width: 810px) {
        font-size: 24px;
        margin: 24px 0;
      }
    }

    %header {
      font-size: 18px;
      line-height: 1.5;
      letter-spacing: 0;
      margin-bottom: 10px;
      @media (max-width: 810px) {
        font-size: 14px;
      }

    }

    .container {
      max-width: 1180px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 349px 287px;
      gap: 36px;
      margin-bottom: 112px;
      @media (max-width: 1200px) {
        grid-template-columns: 1fr;
        grid-template-rows: max-content max-content max-content;
        margin-bottom: 96px;
      }
      .terms {
        grid-column: 2;
        grid-row: 1;

        @media (max-width: 1200px) {
          grid-column: 1;
          grid-row: 1;
        }
        .termsHeader {
          @extend %header
        }

        .checklist {
          list-style: none;
          padding: 0;
          margin: 0;

          li {
            @include bodyTextSmall;
            position: relative;
            padding-left: 34px;
            margin-bottom: 28px;
            color: var(--text-main-color);

            &::before {
              content: '✓';
              position: absolute;
              left: 0;
              top: 0;
              color: var(--text-grey-color);
              font-size: 16px;
              line-height: 1.5;
            }

            @media (max-width: 810px) {
              font-size: 14px;
            }
          }
        }
      }

      .delivery {
        grid-column: 1;
        grid-row: 1;
        @media (max-width: 1200px) {
          grid-column: 1;
          grid-row: 2;
        }
        .termsHeader {
          @extend %header
        }
        .paragraphDelivery{
          @include bodyTextSmall;
        }
      }
      .warranty {
        grid-column: 1 / span 2;
        grid-row: 2;
        @media (max-width: 1200px) {
          grid-column: 1;
          grid-row: 3;
        }
        .warrantyHeader {
          @extend %header
        }
        .paragraphWarranty{
          @include bodyTextSmall;
        }
      }
    }

  }
}