@use '../../../mixins' as mixins;

.overlay {
  position: fixed;
  top: 80px;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--text-main-color-50);
  display: flex;
  justify-content: flex-end;
  z-index: 1000;
  opacity: 1;
  transition: opacity 0.4s ease;
  @media (max-width: 500px) {
    top: 126px;
  }

  &.overlayFadeIn {
    opacity: 1;
  }

  &.overlayFadeOut {
    opacity: 0;
  }
}

.burgerMenu {
  position: fixed;
  top: 80px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--text-light-color);
  z-index: 999;
  padding: 50px 20px 40px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  transform: translateX(100%);
  opacity: 0;
  transition: transform 0.8s ease, opacity 0.4s ease;

  &.animateIn {
    transform: translateX(0);
    opacity: 1;
  }

  &.animateOut {
    transform: translateX(-100%);
    opacity: 0;
  }

  @media (max-width: 500px) {
    top: 126px;
  }

  .navigation {
    list-style: none;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 36px;
    margin: 0 auto 112px;

    a {
      cursor: pointer;
      text-align: center;
      text-decoration: none;
      color: inherit;
      font-family: Lora, serif;
      font-weight: 500;
      @include mixins.headingLarge;

    }
  }

  .footerLinks {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    text-align: center;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 0;
    gap: 12px;
    margin: 0 auto;
    @include mixins.bodyText;


    > a {
      color: var(--text-grey-color);

      &:visited,
      &:hover,
      &:active {
        color: var(--text-grey-color);
      }
    }

    @media (max-width: 810px) {
      justify-content: center;
      flex-direction: column;
      margin: 0 auto;
      text-align: center;
    }
  }

  .social {
    display: flex;
    gap: 12px;
    justify-content: center;
    margin-top: 16px;
    @media (max-width: 810px) {
      margin-top: 24px;
    }
  }
}