@import '../../../mixins';

.burgerMenu {
  position: fixed;
  top: 80px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--text-light-color);
  z-index: 999;
  padding: 201px 20px 40px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;

  @media (max-width: 810px) {
    padding-top: 96px;
  }
  @media (max-width: 500px) {
    top: 126px;
  }

  .navigation {
    list-style: none;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 36px;
    margin: 0 auto 112px;

    a {
      @include headingLarge;
      cursor: pointer;
      font-family: Vollkorn, serif;
      font-weight: 500;
      text-align: center;
      text-decoration: none;
      color: inherit;

    }
  }

  .footerLinks {
    @include bodyText;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    text-align: center;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 0;
    gap: 12px;
    margin: 0 auto;


    > a {
      color: var(--text-grey-color);

      &:visited,
      &:hover,
      &:active {
        color: var(--text-grey-color);
      }
    }

    @media (max-width: 810px) {
      justify-content: center;
      flex-direction: column;
      margin: 0 auto;
      text-align: center;
    }
  }

  .social {
    display: flex;
    gap: 12px;
    justify-content: center;
    margin-top: 16px;
    @media (max-width: 810px) {
      margin-top: 24px;
    }
  }
}