@use '../../mixins' as mixins;

.infoContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 59px 1fr;
  grid-template-rows: max-content 1fr;

  @include mixins.bodyTextSmall;
  @media (max-width: 810px) {
    grid-template-columns: 44px 1fr;
  }
  .icon {
    grid-column: 1;
    grid-row: 1;
    justify-self: left;
  }

  .title {
    color: var(--text-grey-color);
    grid-column: 2;
    grid-row: 1;
    font-size: 18px;
    @media (max-width: 810px) {
      font-size: 14px;
    }
  }

  .text {
    grid-column: 2;
    grid-row: 2;
    font-weight: 300;
    color: var(--text-main-color);

    > div {
      margin-top: 24px;
      @media (max-width: 810px) {
        margin-top: 20px;
      }
    }
  }

}