@use "../../mixins" as mixins;

.cardsContainer {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 11px;
  max-width: 1180px;
  margin: 40px auto 112px;

  @media (max-width: 1050px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  @media (max-width: 810px) {
    margin: 40px auto 96px;
  }
  &.oneItem{
    grid-template-columns: repeat(1, minmax(0, 1fr));

  }
  .card {
    width: 100%;
    max-width: 386px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .likeWrap {
    position: absolute;
    top: 12px;
    right: 12px;
  }

  .imageWrapper {
    width: 100%;
    background: var(--background-grey-color);
    border-radius: 10px;
    cursor: pointer;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    .plug {
      @media (max-width: 500px) {
        width: 86px;
        height: 86px;
      }
    }
    img {
      max-height: 100%;
      max-width: 100%;
      width: auto;
      height: auto;
      object-fit: contain;
      object-position: center;
      display: block;

    }

  }

  .cardContent {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 6px;
    box-sizing: border-box;
    margin-top: 12px;
    .textBlock {
      cursor: pointer;
      .title {
        padding: 0;
        margin: 0;
        font-family: 'Lora', serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.5;

      }

      .description {
        @media (max-width: 810px) {
          display: none;
        }
      }

      .price, .description {
        padding: 0;
        margin: 0;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        color: var(--text-grey-color);
        @media (max-width: 810px) {
          font-size: 14px;
        }
      }
    }

  }

  .comment {
    margin-top: 24px;
    color: var(--text-grey-color);
    @include mixins.bodyTextSmall
  }

}