@use "../../mixins" as mixins;

.summary {
  background-color: var(--background-grey-color);
  border-radius: 10px;
  padding: 33px 20px;

  .headerWrap {
    display: flex;
    justify-content: space-between;

    h4 {
      font-size: 20px;
      font-weight: 400;
      margin-bottom: 16px;
      @media (max-width: 810px) {
        font-size: 16px;
      }
    }

    span {
      color: var(--text-grey-color);
      @include mixins.bodyTextSmall;
    }
  }

  .items {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .item {
      display: flex;
      justify-content: space-between;

    }
  }

  .total {
    margin-top: 30px;
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
    font-family: 'Lora', serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;

  }
  .form {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .input {
      border: 1px solid var(--text-main-color-25);
      border-radius: 10px;
      padding: 18px;
      font-family: "Manrope", sans-serif;
      font-size: 16px;
      font-weight: 400;
      color: var(--text-main-color-50);
      height: 56px;
      box-sizing: border-box;
      @media (max-width: 810px) {
        font-size: 14px;
      }

      &:focus {
        outline: none;
      }

      &::placeholder {
        color: var(--text-main-color-50);
        opacity: 1;
      }
    }

    .submit {
      background-color: #ffb800;
      border: none;
      padding: 12px;
      border-radius: 24px;
      font-size: 16px;
      font-weight: 500;
      cursor: pointer;
    }
  }

}