.button {
  height: 100%;
  border-radius: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  border: none;
  transition: background-color 0.2s ease;
  font-family: "Manrope", sans-serif;
  width: auto;
  padding: 10px 16px;
  box-sizing: border-box;

  &:active {
    filter: brightness(0.9);
  }

  &.light {
    background-color: var(--background-grey-color);
    color: var(--text-main-color);
  }

  &.yellow {
    background-color: var(--button-main-color);
    color: var(--text-main-color);
  }

  &.dark {
    background-color: var(--text-main-color);
    color: var(--text-light-color);
  }

  .icon {
    display: flex;
    align-items: center;
  }

  .text {
    white-space: nowrap;
    font-size: 16px;
    @media (max-width: 810px) {
      font-size: 14px;
    }
  }
}
