@import "../../mixins";

.promotionsContainer {
  width: 100%;
  height: auto;

  .titleContainer {
    height: 184px;
    background-color: var(--background-grey-color);
    margin: 0 20px 58px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    @media (max-width: 810px) {
      height: 196px;
      margin:0 12px 24px 12px;
    }

    .mainHeader {
      @include mainHeader;
      line-height: 1.5;
      width: 1180px;
      margin: 0 auto;
      padding: 57px 0;
      vertical-align: center;
      @media (max-width: 1300px) {
        width: 95%;
      }
      @media (max-width: 810px) {
        min-width: 300px;
      }
    }

  }

  .promotionsContent {
    max-width: 1180px;
    margin: 0 auto;
    @media (max-width: 1200px) {
      max-width: 100%;
      margin: 0 20px;
    }
    @media (max-width: 810px) {
      margin: 0 12px;
    }
    .faceContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 414px;
      gap: 20px;

      .title {
        @include headingLarge;
      }

      .text {
        @include bodyTextSmall;
        text-align: center;
      }
    }

  }
}