@import "../../mixins";

.cartContainer {
  width: 100%;
  height: auto;

  .titleContainer {
    height: 300px;
    background-color: var(--background-grey-color);
    margin: 0 20px 58px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

    @media (max-width: 810px) {
      height: 196px;
      margin: 0 12px 24px 12px;
    }

    .contentWrapper {
      width: 1180px;

      @media (max-width: 1200px) {
        width: 90%;
      }

      .mainHeader {
        @include mainHeader;
        margin-bottom: 20px;
      }

      .label {
        @include bodyText;
        width: 568px;
        @media (max-width: 1200px) {
          width: 100%;
        }
      }
    }
  }

  .cartContent {
    max-width: 1180px;
    margin: 0 auto;

    @media (max-width: 1200px) {
      max-width: 100%;
      margin: 0 20px;
    }
    @media (max-width: 810px) {
      margin: 0 12px;
    }

    .faceContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 414px;
      gap: 20px;

      .title {
        @include headingLarge;
      }

      .text {
        @include bodyTextSmall
      }
    }

  }

}