@import "../../mixins";

.cartContainer{
  width: 100%;
  height: auto;

  .titleContainer {
    height: 300px;
    background-color: var(--background-grey-color);
    margin: 0 20px 58px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (max-width: 810px) {
      height: 196px;
      margin: 0 12px 24px 12px;
    }

    .mainHeader {
      @include mainHeader;
      width: 1180px;
      vertical-align: center;
      @media (max-width: 1200px) {
        width: 90%;
      }
    }
    .label{
      @include bodyText;
      width: 568px;
      text-align: left ;
      vertical-align: center;
      @media (max-width: 1200px) {
        width: 90%;
      }
    }

  }


}