.galleryWrapper {
  padding-bottom: 20px;
  position: relative;
  overflow-x: auto;
  height: 100%;

  .galleryTrack {
    display: grid;
    height: 584px;
    position: relative;
    gap: 12px;

    &.layoutDefault {

      grid-auto-flow: column;
      grid-auto-columns: max-content;
      grid-template-rows: repeat(2, auto);

      @media (max-width: 810px) {
        grid-template-rows: repeat(2, 182px);
        height: 372px;
        gap: 8px;
      }

      .galleryImage {
        width: 286px;
        height: 286px;
        border-radius: 10px;
        object-fit: cover;
        @media (max-width: 810px) {
          width: 182px;
          height: 182px;
        }

        &:first-child {
          width: 584px;
          height: 584px;
          grid-row: span 2;

          @media (max-width: 810px) {
            width: 372px;
            height: 372px;
          }
        }
      }
    }

    &.layoutTwoLarge {
      grid-auto-flow: column;
      grid-auto-columns: 584px;
      grid-template-rows: 100%;
      height: 584px;
      gap: 12px;
      @media (max-width: 810px) {
        grid-auto-columns: 372px;
        height: 372px;
        gap: 8px;
      }

      .galleryImage {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 10px;
      }
    }

    &.layoutComplex {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas:
    "big side1"
    "big side2";
      gap: 12px;
      height: auto;

      .galleryImage:nth-child(1) {
        grid-area: big;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
      }

      .galleryImage:nth-child(2) {
        grid-area: side1;
      }

      .galleryImage:nth-child(3) {
        grid-area: side2;
      }

      .galleryImage:nth-child(n+4) {
        grid-column: span 2;
        width: 100%;
        border-radius: 10px;
        object-fit: cover;
      }
    }

  }
}
