.homePageContainer {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;

  .hero {
    max-width: 1880px;
    height: 964px;
    margin: 0 20px;
    background-image: url('@assets/images/home/hero-large.jpg');
    background-position: right center;
    background-size: cover;
    background-repeat: no-repeat;
    @media (min-width: 1921px) {
      width: 1920px;
    }
  }
}