@use '../../mixins' as mixins;

.homePageContainer {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;

  .hero {
    max-width: 1880px;
    height: 964px;
    margin: 0 20px;
    background-color: var(--text-grey-color);
    background-image: url('../../assets/images/home/hero-large.webp');
    background-position: right center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 10px;
    min-width: 320px;
    @media (min-width: 1921px) {
      width: 1920px;
    }
    @media (max-width: 1300px) {
      border-radius: 0;
    }
    @media (max-width: 1200px) {
      background-image: url('../../assets/images/home/hero-medium.webp');
    }
    @media (max-width: 810px) {
      height: 864px;
      margin: 0;
    }

    .heroContent {
      max-width: 551px;
      color: var(--text-light-color);
      padding-top: 306px;
      padding-left: 156px;
      letter-spacing: 0;
      text-align: center;
      display: flex;
      justify-content: center;
      flex-direction: column;
      @media (max-width: 1300px) {
        padding-top: 280px;
        padding-left: 24px;
        text-align: left;
      }
      @media (max-width: 1200px) {
        max-width: 410px;
      }
      @media (max-width: 810px) {
        max-width: 336px;
        padding: 532px 0 0 0;
        width: 336px;
        margin: 0 auto;
        box-sizing: border-box;
      }

      .title {
        font-size: 48px;
        margin-bottom: 20px;
        @media (max-width: 1200px) {
          font-size: 32px;
          line-height: 1.25;
          margin-bottom: 6px;
        }
      }

      .description {
        @include mixins.bodyText;
      }

      .description {
        margin-bottom: 60px;
        line-height: 1.5;
        @media (max-width: 1200px) {
          line-height: 1.4;
          margin-bottom: 24px;
        }
      }

      .buttonWrapper {
        padding: 0 82px;
        @media (max-width: 1300px) {
          padding: 0 164px 0 0;
        }
        @media (max-width: 1200px) {
          padding: 0;
        }

      }
    }

    .circleButtons {
      position: absolute;
      top: 370px;
      right: 10px;
      display: flex;
      flex-direction: column;
      gap: 10px;

      @media (max-width: 1200px) {
        display: none;
      }
    }
  }

  .running {
    max-width: 1880px;
    margin: 0 20px;
    @media (max-width: 810px) {
      margin: 0;
    }
  }

  .offer {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 0 156px 20px;

    @media (max-width: 1200px) {
      padding-bottom: 96px;
    }

    h2 {
      margin-bottom: 28px;
      @include mixins.headingLarge;
      @media (max-width: 1200px) {
        max-width: 540px;
        padding: 0 0 36px 0;
        text-align: center;
        margin: 0 auto;
      }
      @media (max-width: 810px) {
        max-width: 390px;
        font-size: 24px;
      }
    }

    .features {
      display: grid;
      grid-template-columns: 484px 1fr;
      gap: 58px;
      @media (max-width: 1200px) {
        grid-template-columns: 1fr;
        gap: 0;
      }

      .checklist {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          position: relative;
          padding-left: 34px;
          margin-bottom: 28px;
          color: var(--text-main-color);
          @include mixins.bodyTextSmall;

          &::before {
            content: '✓';
            position: absolute;
            left: 0;
            top: 0;
            color: var(--text-grey-color);
            font-size: 16px;
            line-height: 1.5;
          }
        }
      }
    }
  }

  .navigation {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 20px;
    @media (max-width: 1200px) {
      padding: 0 12px;
    }
  }

  .carpentry {
    width: 100%;
    margin: 156px 0;
    background-color: var(--background-grey-color);
    @media (max-width: 1200px) {
      padding: 0 24px;
      max-width: 100%;
      box-sizing: border-box;
    }
    @media (max-width: 810px) {
      padding: 0 12px;
    }

    .carpentryContainer {
      max-width: 1180px;
      width: 1120px;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 70px 54px 24px 72px 48px 232px 56px 262px 68px;
      column-gap: 95px;
      @media (max-width: 1200px) {
        grid-template-columns: 1fr;
        grid-template-rows: 72px max-content max-content 72px  max-content 48px  max-content 48px max-content 48px 56px 72px;
        max-width: 100%;
      }

      .carpentryTitle {
        grid-column: 1;
        grid-row: 2 / span 3;
        max-width: 347px;
        @include mixins.headingLarge;
        @media (max-width: 1200px) {
          grid-column: 1;
          grid-row: 2;
          max-width: 100%;
          justify-self: center;
          text-align: center;
          margin-bottom: 12px;
        }
      }

      .carpentryQuote {
        @include mixins.bodyText;
      }

      .carpentryQuote {
        grid-column: 2;
        grid-row: 2;
        font-family: 'Vollkorn', serif;
        display: block;
        max-width: 340px;
        margin-bottom: 24px;
        color: var(--text-grey-color);
        padding-left: 48px;
        line-height: 1.5;

        @media (max-width: 1200px) {
          grid-column: 1;
          grid-row: 3;
          max-width: 100%;
          text-align: center;
          margin-bottom: 0;
        }
      }

      .carpentryButton {
        grid-column: 2;
        grid-row: 4;
        max-width: 386px;
        padding-left: 48px;
        @media (max-width: 1200px) {
          grid-column: 1;
          grid-row: 11;
          width: 386px;
          justify-self: center;
          padding-left: 0;
        }
        @media (max-width: 420px) {
          max-width: 100%;
          width: 320px;
        }

      }

      .carpentryInfo1 {
        grid-column: 1;
        grid-row: 6/span 3;
        @media (max-width: 1200px) {
          grid-column: 1;
          grid-row: 5;
          max-width: 100%;
        }
      }

      .carpentryInfo2 {
        grid-column: 2;
        grid-row: 6;
        @media (max-width: 1200px) {
          grid-column: 1;
          grid-row: 7;
          max-width: 100%;
        }
      }

      .carpentryInfo3 {
        grid-column: 2;
        grid-row: 8;
        @media (max-width: 1200px) {
          grid-column: 1;
          grid-row: 9;
          max-width: 100%;
        }
      }
    }
  }

  .gallery {
    max-width: 1180px;
    margin: 0 auto 156px;
    @media (max-width: 1240px) {
      padding: 0 24px;
    }
    @media (max-width: 810px) {
      padding: 0 14px;
    }

    .galleryTitle {
      margin-bottom: 24px;
      @include mixins.headingLarge;
    }

    .galleryDescription {
      margin-bottom: 36px;
      @include mixins.bodyTextSmall;
    }

    .social {
      font-size: 18px;
      text-align: center;
      color: var(--text-grey-color);
      margin-top: 35px;
      margin-bottom: 12px;
      line-height: 1.5;
      @media (max-width: 810px) {
        font-size: 14px;

      }
    }
  }

  .textInfo {
    background-color: var(--background-grey-color);
    margin: 0 auto 156px;
    max-width: 1180px;
    border-radius: 10px;
    padding: 65px;
    box-sizing: border-box;
    @media (max-width: 1240px) {
      padding: 48px 24px;
      margin: 0 24px 96px 24px;
    }
    @media (max-width: 810px) {
      padding: 48px 14px;
    }


  }

  .questions {
    margin: 0 auto 156px;
    max-width: 1180px;
  }
}
