@mixin headingLarge {
  font-size: 34px;
  line-height: 1.25;
  letter-spacing: 0;
  font-weight: 500;
  @media (max-width: 810px) {
    font-size: 22px;
  }
}

@mixin mainHeader{
  font-size: 48px;
  line-height: 1.5;
  letter-spacing: 0;
  text-transform: uppercase;
  @media (max-width: 1200px) {
    font-size: 38px;
    line-height: 1.25;
  }
  @media (max-width: 810px) {
    font-size: 30px;
  }
}

@mixin bodyText {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.25;
  letter-spacing: 0;

  @media (max-width: 810px) {
    font-size: 14px;
  }
}

@mixin bodyTextSmall {
  font-weight: 300;
  font-size: 17px;
  line-height: 1.5;
  letter-spacing: 0;

  @media (max-width: 810px) {
    font-size: 13px;
  }
}

