:root {
  --text-main-color: #222222;
  --text-light-color: #ffffff;
  --text-grey-color: #666666;

  --button-main-color: #ffc85d;
  --button-blue-color: #37aee2;
  --button-green-color: #25d366;

  --background-gray-color : #f4f4f4;

  --text-main-disabled-color: #a7a7a8;
  --text-grey-dark-color: #535353;
  --text-error-dark-color: #5f2120;
  --text-warning-dark-color: #663c00;
  --text-success-dark-color: #1e4620;

  --icon-color: #c07001;

  --button-main-hover-color: #efc333;
  --button-main-active-color: #ecb912;
  --button-main-disabled-color: #e2e2e2;

}