.pageContainer {
  max-width: 1180px;
  margin: 0 auto;
  @media (max-width: 1220px) {
    padding: 0 20px;
  }
  @media (max-width: 810px) {
    padding: 0 12px;
    margin-top: 12px;
  }

  .topContainer {
    display: flex;
    color: var(--text-grey-color);
    justify-content: space-between;
    margin-top: 48px;
    align-items: center;
  }

  .textInfo {
    background-color: var(--background-grey-color);
    margin: 0 auto 156px;
    max-width: 1180px;
    border-radius: 10px;
    padding: 65px;
    box-sizing: border-box;
    @media (max-width: 1240px) {
      padding: 48px 0;
      margin: 0 0 112px 0;
    }
    @media (max-width: 810px) {
      padding: 48px 0;
      margin: 0 0 96px 0;
    }
  }
}