.pageContainer {
  max-width: 1180px;
  margin: 0 auto;

  .topContainer {
    display: flex;
    color: var(--text-grey-color);
    justify-content: space-between;
    margin-top: 48px;
    @media (max-width: 1224px) {
      padding: 0 12px;
    }
    @media (max-width: 810px) {
      margin-top: 12px;
    }
  }

  .textInfo {
    background-color: var(--background-grey-color);
    margin: 0 auto 156px;
    max-width: 1180px;
    border-radius: 10px;
    padding: 65px;
    box-sizing: border-box;
    @media (max-width: 1240px) {
      padding: 48px 24px;
      margin: 0 24px 96px 24px;
    }
    @media (max-width: 810px) {
      padding: 48px 14px;
      margin: 0 12px 96px 12px;
    }
  }
}