.footerTop {
  background-color: var(--background-grey-color);
  padding: 54px 20px 46px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 250px 170px;
  @media (max-width: 1200px) {
    grid-template-columns: 1fr;
    grid-template-rows: 66px 24px 313px 62px 170px;
    padding: 48px 10px;
    min-width: 414px;
  }

  .title {
    grid-column: 1;
    grid-row: 1;
    font-size: 36px;
    line-height: 1.25;
    margin: 0 0 106px;
    padding: 0;
    text-align: center;
    @media (max-width: 1200px) {
      grid-column: 1;
      font-size: 24px;
    }
  }

  .buttons {
    grid-column: 1;
    width: 100%;
    grid-row: 3;
    max-width: 360px;
    margin-bottom: 13px;
    display: flex;
    gap: 12px;
    flex-direction: column;
    @media (max-width: 1200px) {
      grid-column: 1;
      grid-row: 5;
      justify-self: center;
      max-width: 520px;
    }
  }


  .formContainer {
    display: grid;
    grid-column: 2;
    grid-row: 1/span2;
    @media (max-width: 1200px) {
      grid-column: 1;
      grid-row: 3;
      justify-self: center
    }

    .form,
    .successMessage {
      grid-column: 1;
      grid-row: 1;
      transition: opacity 0.3s ease;
      width: 100%;


      &.hidden {
        display: none;
      }
    }
    .successMessage {
      background-color: var(--text-light-color);
      border: 1px solid var(--text-grey-color);
      font-family: "Nunito Sans", sans-serif;
      font-size: 16px;
      font-weight: 400;
      padding: 18px;
      border-radius: 10px;
    }
    .form {
      display: grid;
      grid-template-rows: 120px 56px 56px 60px;
      gap: 10px;
      justify-self: left;
      max-width: 520px;

      .message {
        grid-row: 1;
        border: 1px solid var(--text-main-color-25);
        border-radius: 10px;
        padding: 18px;
        font-family: "Nunito Sans", sans-serif;
        font-size: 16px;
        font-weight: 400;
        color: var(--text-main-color-50);
        max-width: 520px;
        width: 100%;
        resize: none;
        box-sizing: border-box;

        &:focus {
          outline: none;
        }
      }

      .phone {
        grid-row: 2;
        padding: 18px;
        border-radius: 10px;
        border: 1px solid var(--text-main-color-25);
        max-width: 520px;
        font-family: "Nunito Sans", sans-serif;
        font-size: 16px;
        font-weight: 400;
        color: var(--text-main-color-50);

        &:focus {
          outline: none;
        }
      }

      button {
        grid-row: 3;
      }

      .info {
        grid-row: 4;
        font-size: 14px;
        font-weight: 300;
        color: var(--text-grey-color);
        @media (max-width: 1200px) {
          font-size: 12px;
        }
      }

    }
  }

  .text {
    display: none;
    @media (max-width: 1200px) {
      display: block;
      grid-column: 1;
      grid-row: 4;
      justify-self: center;
      font-family: Vollkorn, serif;
      font-size: 20px;
      font-weight: 500;
    }
  }

}
