@use "../../../mixins" as mixins;
.footerTop {
  background-color: var(--background-grey-color);
  padding: 0 20px;
  display: grid;
  grid-template-columns: calc(50% - 590px) 1fr 50%;
  grid-template-rows: 54px 200px 171px;
  @media (max-width: 1200px) {
    grid-template-columns: 1fr;
    grid-template-rows: 48px 66px 24px max-content 62px 170px;
    padding: 0 10px;
  }

  .title {
    grid-column: 2;
    grid-row: 2;
    margin: 0;
    padding: 0;
    text-align: left;
    @include mixins.headingLarge;
    @media (max-width: 1200px) {
      grid-column: 1;
      grid-row: 2;
      text-align: center;
    }
  }

  .buttons {
    grid-column: 2;
    width: 100%;
    grid-row: 3;
    max-width: 360px;
    display: flex;
    gap: 12px;
    flex-direction: column;
    justify-self: left;
    @media (max-width: 1200px) {
      grid-column: 1;
      grid-row: 6;
      justify-self: center;
      max-width: 520px;
    }
    @media (max-width: 525px) {
      max-width: 390px;
    }

    > a {
      all: unset;
    }
  }

  .formContainer {
    display: grid;
    grid-column: 3;
    grid-row: 2/span3;
    @media (max-width: 1200px) {
      grid-column: 1;
      grid-row: 4;
      justify-self: center
    }
    @media (max-width: 525px) {
      max-width: 390px;
    }

    .form {
      grid-column: 1;
      grid-row: 1;
      transition: opacity 0.3s ease;
      width: 100%;
      display: grid;
      grid-template-rows: 120px 56px 56px max-content;
      gap: 10px;
      justify-self: left;
      max-width: 520px;

      .message {
        grid-row: 1;
        border: 1px solid var(--text-main-color-25);
        border-radius: 10px;
        padding: 18px;
        font-family: "Nunito Sans", sans-serif;
        font-size: 16px;
        font-weight: 400;
        color: var(--text-main-color-50);
        max-width: 520px;
        width: 100%;
        resize: none;
        box-sizing: border-box;
        &::placeholder {
          color: var(--text-main-color-50);
          opacity: 1;
        }
        @media (max-width: 810px) {
          font-size: 14px;
        }
        &:focus {
          outline: none;
        }
      }

      .phone {
        grid-row: 2;
        padding: 18px;
        border-radius: 10px;
        border: 1px solid var(--text-main-color-25);
        max-width: 520px;
        font-family: "Nunito Sans", sans-serif;
        font-size: 16px;
        font-weight: 400;
        color: var(--text-main-color-50);
        @media (max-width: 810px) {
          font-size: 14px;
        }
        &:focus {
          outline: none;
        }
      }

      button {
        grid-row: 3;
      }

      .info {
        grid-row: 4;
        font-size: 14px;
        font-weight: 300;
        color: var(--text-grey-color);
        a{
          color: var(--text-grey-color);
        }
        @media (max-width: 810px) {
          font-size: 12px;
        }
      }
    }
  }

  .text {
    display: none;
    @media (max-width: 1200px) {
      display: inline-block;
      grid-column: 1;
      grid-row: 5;
      align-self: center;
      justify-self: center;
      font-family: Vollkorn, serif;
      font-size: 20px;
      font-weight: 500;
    }
  }

}
