@use "../../mixins" as mixins;

.facadesContainer {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 20px 156px;
  @media (max-width: 810px) {
    padding: 0 12px 96px;
  }

  .facadesContent {
    max-width: 1180px;
    margin: 0 auto;

    .article {
      max-width: 1180px;
      margin-top: 100px;
      margin-bottom: 56px;
      display: grid;
      grid-template-columns: 473px 631px;
      column-gap: 76px;

      @media (max-width: 1200px) {
        grid-template-columns: 1fr;
        row-gap: 70px;
      }
      @media (max-width: 810px) {
        margin-bottom: 48px;
      }


      .columnFirst {
        grid-column: 1;
        display: flex;
       flex-direction: column;
        row-gap: 70px;

        @media (max-width: 1200px) {
         // row-gap: px;

        }
        @media (max-width: 810px) {
          //flex-direction: column;
        }
      }

      .columnSecond {
        display: flex;
        flex-direction: column;
        row-gap: 76px;
        grid-column: 2;
        @include mixins.bodyTextSmall;
        @media (max-width: 1200px) {
          grid-column: 1;
        }
        .infoTitle {
          font-size: 18px;
          line-height: 1.5;
          margin-bottom: 24px;
          @media (max-width: 810px) {
            font-size: 14px;
            margin-bottom: 20px;
          }
        }

        span {
          display: block;
          margin-bottom: 24px;
          @media (max-width: 810px) {
            margin-bottom: 20px;
          }
        }
      }

    }

    .textInfo {
      background-color: var(--background-grey-color);
      margin: 112px auto 156px;
      max-width: 1180px;
      border-radius: 10px;
      padding: 65px;
      box-sizing: border-box;

      @media (max-width: 1240px) {
        padding: 48px 24px;
        margin: 96px 0;
      }
      @media (max-width: 810px) {
        padding: 48px 14px;
      }
    }

    .navigation {
      h2 {
        margin-bottom: 16px;
        @include mixins.headingLarge;
        @media (max-width: 810px) {
          margin-bottom: 20px;
        }
      }
    }
  }

}